@import "../../variables";

.tile{
  height: 110px;
  display: block;
  border: 1px solid white;
  border-radius: $radius-large;
  margin-top: 10px;
  cursor: pointer;

  &:hover{
    filter: brightness(70%);
  }
}

div.header:not(:last-child){
  padding-top: 0.4rem;
  margin-bottom: 1rem;
  margin-top: -82px;
}

.name{
  padding-left: 1em;
  line-height: 0.9;
}

.status{
  padding-right: 1em;
  line-height: 0.9;
}

.lgTxt{
  font-weight: bold;
  font-size: 1.3em;
  padding: 0 8px;
}

.slow{
  color: black;
  background: rgba(214, 148, 50, 0.5);
}

.bad{
  background: rgba(255, 170, 44, 0.5);
}

.down{
  background: rgba(204, 19, 19, 0.5);
}
