.prescroll{
  border: 1px dashed blue;
  max-height: 360px;
  overflow-y: scroll;
}
.nospin{
  input[type=number]{
    -moz-appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}
